@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfaf7;
  --foreground: #420e1e;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-lora: 'Lora', serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans);
  font-weight: 300;
  letter-spacing: 0.01em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora);
  font-weight: 500;
  letter-spacing: -0.01em;
}
