@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfaf7;
  --foreground: #420e1e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
